* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
    display: inline-block;
}

html {
    background-color: #F4F4F4;
    /* width: 0;
    height: 0; */
}

img {
    vertical-align: top;
    border: none;
}

.clear {
    clear: both;
}

.banner {
    background-color: #fff;
    /* border-radius: 10px; */
    width: 100vw;
    height: 14vw;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0%;
    z-index: 2;
    color: #4a4a4a;
    font-size: 4.5vw;
    font-family: STKaiti;
    font-weight: 700;
    white-space: nowrap;
}

.banner_intro {
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

.banner_intro img {
    height: 10vw;
    width: 10vw;
}

.banner_link {
    position: absolute;
    right: 5%;
}

.banner_link a {
    width: 24vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
    border-radius: 4vw;
    background-image: linear-gradient( 135deg, #c9f0bc 10%, #1c4317 100%);
    /* background-image: linear-gradient( 135deg, #a5241b 10%, #2c600f 100%); */
}

.page_body {
    display: flex;
    z-index: -1;
}

.message {
    margin-top: 2vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.message_main {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2vw 2vw 8vw 2vw;
}

.message_head {
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.message_head_one {
    display: flex;
    align-items: center;
}


/* 头像 */

.user_avatar {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* 发布人信息 */

.message_head_person {
    display: flex;
    flex-direction: column;
    width: 46vw;
    margin-left: 2vw;
}

.message_head_name {
    color: #333333;
    font-size: 4.5vw;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
}

.message_head_time {
    /* width: 80vw; */
    color: #999999;
    font-size: 3vw;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
}


/* 推荐码 */

.referral_code {
    height: 10vw;
    color: #ff0000;
    font-size: 3.5vw;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    float: right;
    display: flex;
    align-items: flex-end;
}

.message_head_line,
.message_content_line {
    width: 90vw;
    height: 0.2vw;
    background-color: #ebedf1;
    margin: 2vw 0 1vw 0;
}

.message_content {
    margin: 3vw 0 1vw 0;
}

.message_content_word {
    color: #333333;
    font-size: 4vw;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    margin-bottom: 4vw;
}

.message_content_img {
    position: relative;
    width: 90vw;
    margin-bottom: 4vw;
    /* 去除行内块之间的空白间隙 */
    font-size: 0;
}

.one {
    height: 40vw;
}

.two {
    width: 44vw;
    height: 44vw;
    margin: 0.5vw;
}

.three {
    width: 29vw;
    height: 29vw;
    margin: 0.5vw;
}

.message_content_imgs {
    display: inline-block;
}

.reply {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 5vw 0 0;
}

.message_content_reply,
.message_content_amount {
    font-size: 3.5vw;
    margin: 0 2vw 0 2vw;
    height: 5vw;
    line-height: 5vw;
}

.message_content_reply {
    background-color: #ddd;
    border-radius: 4px;
    height: 5vw;
    width: 10vw;
    text-align: center;
    line-height: 5vw;
}

.comments {
    position: relative;
    padding: 2vw 1vw 2vw 1vw;
    width: 88vw;
    background-color: #f4f5f7;
    border-radius: 10px;
    margin-bottom: 2vw;
}

.comments_person {
    display: flex;
    align-items: center;
}

.comments_name {
    color: #333333;
    font-size: 4vw;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    margin: 0 2vw 0 2vw;
}

.comments_time {
    color: #999999;
    font-size: 3vw;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
}

.comments_content {
    color: #999999;
    font-size: 3.8vw;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    width: 74vw;
    float: right;
    margin: 0 2vw 1vw 0;
}

.comments_img {
    /* position: relative; */
    width: 76vw;
    margin-bottom: 1vw;
    float: right;
}

.comImg_one {
    height: 30vw;
}

.comImg_two {
    width: 37vw;
    height: 37vw;
    margin: 0.5vw;
}

.comImg_three {
    width: 24vw;
    height: 24vw;
    margin: 0.5vw;
}

.comments_imgs {
    display: inline-block;
}


/*弹出层样式*/

.popup {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    display: none;
}

.popup .bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.popup img {
    max-width: 100%;
    max-height: 100%;
    /*以下三行实现垂直居中*/
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*以上三行实现垂直居中*/
    z-index: 4;
}

.directions {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(153, 153, 153, 0.7);
    position: fixed;
    z-index: 5;
}

.directions img {
    position: absolute;
    left: 50%;
}